extends layout

block content
  script(src="/javascripts/item-host.js" defer)
  //- Header Section
  .frame.board-cbce6ab7a5dc
    .frame.board-cbce6ab7a5dd
      .frame.board-cbce6ab7a5df
        //- Back Button
        .frame.board-cbce6ab7a5e1(onclick="window.location.href='/hosts?session=" + session + "'")
          //- Icon
          .shape.rect.hosts-whit-cc308ee33cef
          //- Left Arrow
          .shape.text.cc3114c068bc
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cc3114c068bc(data-x="1861" data-y="1097")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:30px;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") &lt;
          //- Text "Back"
          .shape.text.back-cbce6ab7a5e4
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbce6ab7a5e4(data-x="1893" data-y="1104")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Back
        //- text: Section Title
        .frame.board-cbce6ab7a5e0
          .shape.text.section-ti-cbce6ab7a5e2
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbce6ab7a5e2(data-x="1970.0000000000002" data-y="1104")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    if (action == "add")
                      span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Add Host
                    else
                      span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Edit Host
    //- Seperator Line
    .shape.path.path-cbce6ab7a5de
  //- Footer Section
  .frame.board-cbce1a3d912a
    //- Seperator Line
    .shape.path.path-cbcb3f28f2ef
    .frame.board-cadccd608d72
      .frame.board-cae0dacf86bb
        //- OK Button (Action Button)
        .frame.board-cae0dacf86bf(onclick="onClickProcessHost('" + action + "', '" + hostId + "')")
          .shape.rect.okblack-cae0dacf86c7
          .shape.text.ok-cae0dacf86c6
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae0dacf86c6(data-x="2529" data-y="1751.01")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    if (action == "add")
                      span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Add Host
                    else
                      span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Update Host
        //- Discard Button
        .frame.board-cae0dacf86be(onclick="window.location.href='/hosts?session=" + session + "'")
          .shape.rect.cancel-bla-cae0dacf86c5
          .shape.text.discard-cae0dacf86c4
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae0dacf86c4(data-x="2681.9999999999995" data-y="1751.0099999999995")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Discard
  //- Content Section
  .scrollable-content
    .frame.board-cadccd608d71
      //- Padding Rectangle
      .shape.rect.rectangle-cc37ae56ad8f
      //- Description Area
      .frame.descriptio-cbc418960a09
        .shape.text.here-goes-cbc3eeeed51f
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc3eeeed51f(data-x="1815" data-y="1260")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Provide the information for your Host with dynamic IP in this section.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") A Host is a server or a gateway connected to internet which has an IP and can handle requests.
      //- Section Title
      .frame.section-boa-cc2d2b6d6cbf
        .shape.text.section-ti-cc2d11de413e
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cc2d11de413e(data-x="1815" data-y="1334.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:unset;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:20px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Host Information
      //- Read-Write Key Pair (Host Name)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Host Name:
        input#hostNameInput.frame.board-cbc68e05ad44(type="text" value=hostName placeholder="Enter Host Name" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Notice Section
      .frame.notice-boar-cbc8b83da5f1
        .shape.rect.edit-black-cbc8748da7e4
        .shape.text.some-note-cbc892a8a3c4
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc892a8a3c4(data-x="1875" data-y="1188")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Host names are case senstivice and shall follow the following format:
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - A host name can include upper or lower case characters, numbers, space, dash and underline.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - A host name shall start with an upper or lower case character.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - A host name shall be at least three charcter long.
      //- Read-Write Key Pair (Current IP)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Current IP:
        input#hostCurrentIpInput.frame.board-cbc68e05ad44(type="text" value=hostIp placeholder="Enter Current Host IP" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Notice Section
      .frame.notice-boar-cbc8b83da5f1
        .shape.rect.edit-black-cbc8748da7e4
        .shape.text.some-note-cbc892a8a3c4
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc892a8a3c4(data-x="1875" data-y="1188")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Example host ip: 1.2.3.4
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Leave the Current IP empty if it is unknown at this time.
      //- Seperator Line
      .frame.seperator-b-cbc5c77ccc07
        .shape.path.path-cbc56e878737
      //- Description Area
      .frame.descriptio-cbc418960a09
        .shape.text.here-goes-cbc3eeeed51f
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc3eeeed51f(data-x="1815" data-y="1260")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") The following information will be available after the update call from the host.
                //- p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") A Host is a server or a gateway connected to internet which has an IP and can handle requests.
      //- Read-Only Key Pair (Last Update Time)
      .frame.key-read-boa-cbc6741450db
        .shape.text.key-cbc6741450dd
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc6741450dd(data-x="1815" data-y="1380.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Last Update:
        .shape.text.read-cbc6741450dc
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc6741450dc(data-x="1937" data-y="1378.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") #{hostLastUpdate}
      //- Seperator Line
      .frame.seperator-b-cbc5c77ccc07
        .shape.path.path-cbc56e878737
      //- Section Title
      .frame.section-boa-cc2d2b6d6cbf
        .shape.text.section-ti-cc2d11de413e
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cc2d11de413e(data-x="1815" data-y="1334.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:unset;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:20px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Host Update URLs
      //- Description Area
      .frame.descriptio-cbc418960a09
        .shape.text.here-goes-cbc3eeeed51f
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc3eeeed51f(data-x="1815" data-y="1260")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Following URLs shall be used to update the Host IP.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Local Update URL is recommended when the gateway and the Dynamic DNS Updater service are in the same network.
      //- Read-Only Key Pair (Local Update URL)
      .frame.key-read-boa-cbc6741450db
        .shape.text.key-cbc6741450dd
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc6741450dd(data-x="1815" data-y="1380.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Local URL:
        .shape.text.read-cbc6741450dc
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc6741450dc(data-x="1937" data-y="1378.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") #{hostLocalUpdateUrl}
      //- Read-Only Key Pair (Local Update URL)
      .frame.key-read-boa-cbc6741450db
        .shape.text.key-cbc6741450dd
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc6741450dd(data-x="1815" data-y="1380.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Public URL:
        .shape.text.read-cbc6741450dc
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc6741450dc(data-x="1937" data-y="1378.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") #{hostPublicUpdateUrl}
      //- Padding Rectangle
      .shape.rect.rectangle-cc372c8d0a13